@import "../../../build/bootstrap.css";

@font-face {
	font-family: Emoji;
	src:
		local("Twemoji Mozilla"),
		local("Apple Color Emoji"),
		local("Segoe UI Emoji"),
		local("Noto Color Emoji"),
		local("EmojiOne Color"),
		local("Android Emoji"),
		/* fallback to font file if none of the above is found */
		url("twemoji.woff2");

	/* 📜🐛📂↗️🔣 */
	unicode-range: U+2197, U+FE0F, U+1F41B, U+1F4C2, U+1F4DC, U+1F523;
}

label {
	user-select: none;
}

html {
	font-size: min(3vw, 12pt);
}

html,
body {
	font-family: Emoji, var(--bs-body-font-family);
	height: 100%;
}

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background-color: #0000;
}

::-webkit-scrollbar-thumb {
	background-color: #aaa;
	background-clip: padding-box;
	border: 7px solid #0000;
	border-radius: 10px;
}

[v-cloak],
input[type="file"] {
	display: none;
}

select:invalid {
	color: gray !important;
}

option:not(:disabled) {
	color: var(--bs-body-color);
}

a[href] {
	color: var(--bs-info) !important;
}

td {
	vertical-align: top;
	padding: 0.25rem 0.5rem;
}

.form-check-input[type="checkbox"]:indeterminate {
	background-color: var(--bs-danger);
	border-color: var(--bs-danger);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 6l8 8M14 6l-8 8'/%3e%3c/svg%3e");
}

h5 {
	margin-top: 2rem;
}

.modal-body {
	max-height: calc(100vh - 150px);
	overflow-y: auto;
}

.form-range {
	height: unset;
}

.loading {
	position: relative;
	width: 1em;
	height: 1em;
	display: inline-block;

	&::after {
		content: "";
		position: absolute;
		width: 1em;
		height: 1em;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border: 0.15em solid transparent;
		border-top-color: var(--bs-body-color);
		border-radius: 50%;
		animation: button-loading-spinner 1s ease infinite;
	}
}

.product-hunt {
	content: url("https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=356516&theme=neutral");
}

@keyframes button-loading-spinner {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}

@media (prefers-color-scheme: light) {
	.form-select[size]:focus option:checked {
		color-scheme: dark;
	}
}

.form-select::-webkit-scrollbar-thumb {
	min-height: 3rem;
}

@media (prefers-color-scheme: dark) {
	body {
		overflow-y: scroll;
	}

	:root {
		--bs-body-bg: #181818;
		--bs-body-color: #eee;
		--bs-light-rgb: 70, 70, 70;
		--bs-border-color: #666;
	}

	.modal {
		--bs-modal-bg: #444;
	}

	::-webkit-scrollbar-thumb {
		background-color: #aaa6 !important;
	}

	a.btn {
		color: inherit !important;
	}

	.form-control,
	.form-select,
	.form-control:focus,
	.form-check-input,
	.form-range::-webkit-slider-runnable-track {
		background-color: var(--bs-gray-800);
		border-color: var(--bs-gray-600);
		color: white;
	}

	.form-control::placeholder {
		color: var(--bs-gray-600);
	}

	.form-select:not([size]) {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	}

	.form-select[size]:not(:focus) option:checked {
		color-scheme: dark;
	}

	.dropzone.drag {
		border-color: #ccc;
	}

	.product-hunt {
		content: url("https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=356516&theme=dark");
	}
}
